@font-face {
  font-family: 'MonumentGrotesk';
  src: url("../fonts/MonumentGrotesk-Medium.woff2") format("woff2"), url("fonts/MonumentGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MonumentGrotesk';
  src: url("../fonts/MonumentGrotesk-Regular.woff2") format("woff2"), url("fonts/MonumentGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'circular';
  src: url("../fonts/764604c.woff2") format("woff2"), url(fonts/5b4d068.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Radio Grotesk';
  src: url("../fonts/RadioGrotesk-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/RadioGrotesk-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RadioGrotesk-Regular.woff") format("woff"), url("../fonts/RadioGrotesk-Regular.ttf") format("truetype"), url("../fonts/RadioGrotesk-Regular.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Radio Grotesk', sans-serif;
  color: #22223b;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

html {
  overflow-x: hidden;
  font-size: 20px;
}

body {
  padding: 4vw;
}

h1 {
  padding-bottom: 4vw;
  font-size: 7vw;
  line-height: 1;
}

input[type=text], input[type=number] {
  all: unset;
  font-size: 1em;
  border: 2px solid white;
  padding: 3px 7px;
  line-height: 1;
  margin-top: 5px;
  max-width: 500px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white !important;
  -webkit-transition: border .3s;
  transition: border .3s;
}

input[type=text]:focus, input[type=number]:focus {
  border: 2px solid #22223b;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

select {
  all: unset;
  -webkit-appearance: menulist;
     -moz-appearance: menulist;
          appearance: menulist;
  white-space: pre;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
  border: 2px solid white;
  padding: 3px;
  line-height: 1;
  margin-top: 5px;
  border-radius: 0 !important;
  width: 140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  -webkit-transition: border .3s;
  transition: border .3s;
}

select:focus {
  border: 2px solid #22223b;
  border-radius: 0 !important;
}

.button {
  background-color: #22223b;
  color: white;
  padding: 7px 20px;
  border: 2px solid #22223b;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s;
  border-radius: calc(41px / 2);
  margin-top: 5px;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: #22223b;
}

#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#form * {
  font-size: 1em;
}

#form select {
  margin-bottom: 1em;
}

#form input {
  margin-bottom: 1em;
}

#form label i {
  opacity: 0.7;
}

h3 {
  font-size: 2em;
  margin: 4vw 0 1em 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #22223b;
}

table th, table td {
  border: 2px solid #22223b;
  border-collapse: collapse;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4px 8px;
}

table th {
  background: rgba(34, 34, 59, 0.15);
  padding: 16px 8px;
}

#output {
  letter-spacing: 0.75px;
}

#output i {
  color: rgba(0, 0, 0, 0.65);
}

.display {
  padding: 20px 40px;
  margin-top: 5px;
  border: 2px solid red;
  background: -webkit-gradient(linear, right bottom, left top, from(rgba(255, 0, 0, 0.1)), to(rgba(255, 0, 0, 0)));
  background: linear-gradient(to top left, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0));
}

#footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 4vw;
  pointer-events: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#footer p {
  line-height: 1;
  opacity: .7;
}

@media screen and (max-width: 600px) {
  body {
    padding: 1em;
    padding-bottom: 44px;
  }
  h1 {
    font-size: 2.5em;
    padding: 22px 0 22px 0;
  }
  h3 {
    font-size: 1.75em;
  }
  #output {
    margin-bottom: 2em;
  }
  #footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2em;
  }
  #footer p {
    line-height: 1.3;
    text-align: center;
    font-size: .75em;
  }
}

#bg {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(ellipse at top, #e8d2c5, transparent), radial-gradient(ellipse at bottom, #c4958b, transparent);
}
/*# sourceMappingURL=styles.css.map */